@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
 margin: 0;
 padding: 0;	
}

body{
  font-family: 'Roboto', sans-serif;		
}
.clac-btn{
  background-color: silver;
  color:black;
  width:25px;
  height:45px;
  border:1px solid gray;
  text-align: center;
  cursor: pointer;
  font-size: 32px;
  font-weight: 100;
  padding-top: 3px;
		
}
.clac-btn:hover{
	background-color: orange;
	
}
.row{
	display: table;
	table-layout: fixed;
	width: 400px;
}
.column{
	display:table-cell;
}
#clac-zero{
 width:52.6777777px;
 border:0 0 0 7px;
	
}
#clac-clear{
	 width:52.6777777px;
}

#clac-display-val{
	height:80px;
	color:white;
	background-color: #383838;
	text-align: right;
	border-top:1px solid gray;
	border-left:1px solid gray;
	border-right:1px solid gray;
	font-size: 48px;
	overflow: hidden;
	white-space: nowrap;
	padding: 12px;
	border-radius: 7px 7px 0 0;
		
}

.clac-btn-operator{
	background-color: orange;
	color:white;
	
}
h1{
	text-align: center;
	margin-top:50px;
	margin-bottom: 30px;
	
}
#clac-equal{
  border-radius:0 0 7px 0;
	
}
#clac-parent{
  margin-left:calc(50% - 200px);
	
}
.clac-numbers{
	
}

